<h1>Welcome to LiftOff!</h1>
<p>
	Challenge other users to Fitness battles, form teams and compete in group challenges, find a workout buddy and monitor each other's progress. Challenges range from workouts of the day, workout bingo, races, and much more. 
</p>
